{% extends 'base.html.twig' %}

{% block body %}
    <h1>Datalines list</h1>

    <table class="table table-striped crud">
        <thead>
        <tr>
            <th>Id</th>
            <th>Datetime</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Pressure</th>
            <th>Magnetism</th>
            <th>Temperature_cpu</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for dataline in datalines %}
            <tr>
                <td><a href="{{ path('crud_dataline_show', { 'id': dataline.id }) }}">{{ dataline.id }}</a></td>
                <td>{% if dataline.datetime %}{{ dataline.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ dataline.temperature }}</td>
                <td>{{ dataline.humidity }}</td>
                <td>{{ dataline.pressure }}</td>
                <td>{{ dataline.magnetism }}</td>
                <td>{{ dataline.temperaturecpu }}</td>
                <td>
                    <a href="{{ path('crud_dataline_show', { 'id': dataline.id }) }}" class="btn btn-primary btn-xs">show</a>
                    <a href="{{ path('crud_dataline_edit', { 'id': dataline.id }) }}" class="btn btn-primary btn-xs">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('crud_dataline_new') }}">Create a new dataline</a>
        </li>
    </ul>
{% endblock %}
