<div class='container-fluid' >
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center">
            <a href="{{url('credits') }}" class="footer-credits">{{'Credits'|trans}}</a>
            <!-- <img src="{{ asset('/bundles/sensors/img/Abundance_logo_32x32.png')}}" alt="spirale" /> -->
            &nbsp;/&nbsp;
            <a href="{{ url('contact') }}" class="footer-team"> {{'Contact'|trans}}</a>
        </div>

        <div class="col-md-12 col-xs-12 text-center">
                Copyright 2017 - {{ "now"|date("Y") }} FM
        </div>
    </div>
</div> <!-- container -->
